#ifndef <%COMP_GUARD%>_CLIENT_STUB_H
#define <%COMP_GUARD%>_CLIENT_STUB_H

#include "RpcClientResource.h"
<%INCLUDES%>

class <%WRAPPED_CLASS%>ClientStub : public RpcClientResource {
public:

<%tab%><%WRAPPED_CLASS%>ClientStub(RpcClient &client);

<%tab%>~<%WRAPPED_CLASS%>ClientStub();

<%tab%><%ACTIONS%>
};

#endif // <%COMP_GUARD%>_CLIENT_STUB_H
