//-----------------------------------------------------------------------------
<%RETURN_TYPE%> <%WRAPPED_CLASS%>Wrapper::
<%ACTION_NAME%>(<%GET_IN_PARAM_LIST%>)
{
<%tab%><%RETURN_TYPE%> lReturnValue /* = TODO: Initialize return value. */;

<%tab%>/* TODO: Implement action here. */

<%tab%>return lReturnValue;
}

