//-----------------------------------------------------------------------------
void <%wrapped_class%>Wrapper::
<%action_name%>(<%in_param%> request, <%out_param%> response, RpcException& e)
{
<%tab%>/* TODO: Implement action here. */
}

