#include "<%nspace%>.pb.h"
#include "<%wrapped_class%>Wrapper.h"

using namespace liber::rpc;
using namespace <%nspace%>;

//-----------------------------------------------------------------------------
<%wrapped_class%>Wrapper::<%wrapped_class%>Wrapper()
:  InstanceWrapper()
{
}

//-----------------------------------------------------------------------------
<%wrapped_class%>Wrapper::~<%wrapped_class%>Wrapper()
{
}

//-----------------------------------------------------------------------------
bool <%wrapped_class%>Wrapper::initialize(const std::string& params)
{
<%tab%>bool lbSuccess = true;

<%tab%>/* TODO: Perform instance initialization. */

<%tab%>return lbSuccess;
}

//-----------------------------------------------------------------------------
bool <%wrapped_class%>Wrapper::destroy(const std::string& params)
{
<%tab%>bool lbSuccess = true;

<%tab%>/* TODO: Destroy instance. */

<%tab%>return lbSuccess;
}

<%actions%>

