#ifndef <%COMPILER_GUARD%>_H
#define <%COMPILER_GUARD%>_H

#include "Structure.h"
<%INCLUDES%>

class <%STRUCTURE_NAME%> : public Structure {
public:

<%tab%><%STRUCTURE_NAME%>();
<%tab%><%STRUCTURE_NAME%>(<%PARAMS%>);
<%tab%>~<%STRUCTURE_NAME%>();

<%tab%>bool valid() const;

<%tab%>bool get(<%REF_PARAMS%>);
};

#endif // $$COMPILER_GUARD$$_H
