#include "<%STRUCTURE_NAME%>.h"

//-----------------------------------------------------------------------------
<%STRUCTURE_NAME%>::<%STRUCTURE_NAME%>() {}

//-----------------------------------------------------------------------------
<%STRUCTURE_NAME%>::
<%STRUCTURE_NAME%>(<%PARAMS%>)
{
<%tab%>Structure::set("<%PARAM_NAME%>", <%PARAM_NAME%>);
}

//-----------------------------------------------------------------------------
<%STRUCTURE_NAME%>::
~<%STRUCTURE_NAME%>()
{
}

//-----------------------------------------------------------------------------
bool <%STRUCTURE_NAME%>::valid() const
{
<%tab%>bool lbIsValid = true;

<%tab%>lbIsValid &= Structure::hasField("<%PARAM_NAME%>");

<%tab%>return lbIsValid;
}

//-----------------------------------------------------------------------------
bool <%STRUCTURE_NAME%>::get(<%REF_PARAMS%>)
{
<%tab%>bool lbIsValid = true;

<%tab%>lbIsValid &= Structure::get("<%PARAM_NAME%>", <%PARAM_NAME%>);

<%tab%>return lbIsValid;
}

