#include "$$WRAPPED_CLASS$$ClientStub.h"

//------------------------------------------------------------------------------
$$WRAPPED_CLASS$$ClientStub::$$WRAPPED_CLASS$$ClientStub(RpcClient &client)
: RpcClientResource(client, "$$WRAPPED_CLASS$$")
{
}

//------------------------------------------------------------------------------
$$WRAPPED_CLASS$$ClientStub::~$$WRAPPED_CLASS$$ClientStub()
{
}

$$ACTIONS$$

